$brand: #d6470d !default;
$light: #f3f3f3 !default;
$link-color: $brand !default;
$success: #0ec645 !default;
$danger: #e10014 !default;

$border-radius: .15rem;
$border-radius-sm: .15rem;
$border-radius-lg: .15rem;

$theme-colors: (
  "brand": $brand,
);

$container-max-widths: (
  md: 880px,
  lg: 1140px,
  xl: 1400px
);
