$primary: #ff7300 !default;
$light: #f3f3f3 !default;
$success: #0ec645 !default;
$danger: #e10014 !default;

$border-radius: .24rem;
$border-radius-sm: .24rem;
$border-radius-lg: .24rem;
$border-color: #eeeeee !default;

$container-max-widths: (
  md: 880px,
  lg: 1140px,
  xl: 1400px
);
