@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import './variables';
@import '../icons/css/all.min.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import '~bootstrap/scss/mixins';

@import './font';
@import './custom';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.fade-page-enter-active {
  transition: all 0.3s ease;
}
.fade-page-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-page-enter,
.fade-page-leave-to {
  opacity: 0;
}
